@media screen and (max-width: 767px){ 
    header .card>img{
        width: fit-content;
        height: fit-content;
    }

    header nav ul.dropdown-menu{
        width: 767px;
        height: auto;
        border-radius: 0;
        background-color: rgba(30, 55, 62, 0.9);
        overflow: hidden;
    }

}