*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

.logo img{
    width: 120px;
    height: auto;
}

header .header_fixed{
    background-color: #FFFFFF;
}

.owl-dots{
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 10px;
}